run = "npm run build && npm start"
entrypoint = "server/index.ts"
modules = ["nodejs-20", "postgresql-16"]
[nix]
channel = "stable-25_05"
packages = ["yakut", "psmisc", "nettools", "lsof"]

[deployment]
run = ["sh", "-c", "npm run build && npm start"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Start App"

[[workflows.workflow]]
name = "Start App"
author = 44956573
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run build && npm start"

[objectStorage]
defaultBucketID = "replit-objstore-9ab1e270-b577-4f89-aea6-66a15e56bd1f"
