modules = ["postgresql-16", "python-3.11", "nodejs-20"]

[[ports]]
localPort = 5000
externalPort = 80

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Development"

[[workflows.workflow]]
name = "Development"
author = 44956573
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
