modules = ["nodejs-20"]
[deployment]
run = ["npm", "start"]
build = ["npm", "install", "&&", "npm", "run", "build"]
deploymentTarget = "cloudrun"

[nix]
channel = "stable-22_11"

[[ports]]
localPort = 5000
externalPort = 80

[env]
NODE_ENV = "production"

[workflows]
runButton = "Development Server"

[[workflows.workflow]]
name = "Development Server"
author = 44956573
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
